.into-box {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 40px;
  cursor: pointer;
  .tool-icon-box {
    width: 24px;
    height: 24px;
    background-color: $title-color;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    .iconfont {
      font-size: 16px;
      color: white;
    }
  }
  p {
    margin-bottom: 0;
    padding-left: 8px;
  }
}
