.into-box {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 40px;
  cursor: pointer;
  .tool-icon-box {
    width: 24px;
    height: 24px;
    background-color: $title-color;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    .iconfont {
      font-size: 16px;
      color: white;
    }
  }
  p {
    margin-bottom: 0;
    padding-left: 8px;
  }
}
.footer-tool {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 16px;
  padding-right: 52px;
  p {
    width: 84px;
    height: 36px;
    transition: 0.3s all;
    display: flex;
    margin-left: 16px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 0;
    .iconfont {
      font-size: 20px;
      margin-right: 4px;
    }
  }
  p:hover {
    background-color: $title-color;
    color: white;
  }
}
.public-title {
  display: flex;
  align-items: center;
  p {
    margin-bottom: 0;
    font-size: 12px;
  }
  .iconfont {
    cursor: pointer;
    margin-left: 8px;
  }
}
.attention-box {
  padding: 20px;
  background-color: #fff1d7;
  border-radius: 5px;
  position: relative;
  margin-top: 18px;
  .iconfont {
    font-size: 16px;
    position: absolute;
    left: 24px;
    top: 22px;
  }
  p {
    font-size: 14px;
    text-indent: 24px;
    margin-bottom: 0;
  }
}
