.my-account {
  padding: 40px;
  .account-tools {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .account-remark-box {
    padding: 24px;
    background-color: $test-bg;
    border-radius: 16px;
    margin-top: 24px;
    p {
      text-align: left;
      margin-bottom: 16px;
    }
  }
  .account-table {
    padding: 24px;
    margin-top: 24px;
    background-color: $test-bg;
    border-radius: 16px;
    .search-for-accounts {
      width: 100%;
      display: flex;
      height: 52px;
      background-color: white;
      margin-bottom: 12px;
      border-radius: 20px;
      align-items: center;
      padding: 0 24px;
      .iconfont {
        font-size: 20px;
        color: #666;
      }
      input {
        flex: 1;
        margin-left: 8px;
      }
    }
    .heim-oper-box {
      display: flex;
      align-items: center;
      justify-content: center;
      .heim-trans {
        p{
          margin-bottom: 0;
        }
        .trans-out {
          display: flex;
          align-items: center;
          cursor: pointer;
          margin-right: 90px;
          margin-bottom: 4px;
          user-select: none;
          .iconfont {
            transform: translateY(1px) rotate(90deg);
            transition: .3s all;
            margin-left: 4px;
          }
          .show-icon-heim {
            transform: rotate(-90deg);
          }
        }
      }
      .send-box{
        margin-right: 24px;
        cursor: pointer;
      }
      .more-heim-icon{
        color:$text-color;
        font-size: 20px;
      }
      .out-link{
        margin-left: 24px;
      }
    }
  }
}
.more-heim-oper{
  ul{
    li{
      padding:10px 8px;
      border-bottom: 1px solid #ddd;
    }
  }
  .row-switch{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
