.point-title{
    .point{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 9px; 
    }
    .text{
        font-size: 18px;
        font-weight: 600;
        color: #101010;
    }
}